/* 문제1 */
#container1.highlight{
   background-color: yellow;
}

/* 문제2 */
#container2 > p{
    color: red;
}
#container2 pre{
    color: pink;
}

/* 문제3 */
#container3 > input:not([type=submit]){border: 1px solid blue;}
/* 
#container3 > input:nth-child(1){border: 1px solid blue;}
#container3 > input:nth-child(2){border: 1px solid blue;} */

/* 문제4 */
#container4> h1,p[class="title"]{
    color:green;
    font-size: 20px;
}

/* 문제5 */
div[class^=user]{
    background-color: lightgray;
}
div[class$=info]{
    color: red;
}
div[class~=product]{
    background-color: coral;
}
div[class|=admin]{
    background-color: greenyellow;
}

/* 문제6 */
#container6 >input:focus{
    background-color: yellow;
}
#container6 >input:hover{
    background-color: green;
}

/* 문제 7 */
#container7 > li:nth-of-type(2){
    font-weight: bold;
}

/* 문제8 */
.container8 > p:only-of-type{
    color: blue;
}

/* 문제 9 */
p[title*=important]:not([title*=not-important]){
    background-color: red;
}

/* 문제 10 */
#menu > li[class=active]{
    color: red;
}